* {
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 76%;
    margin: 0 auto;
}
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
}

#header-conteiner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#header-conteiner a {
    margin-right: 40px;
    padding: 27px 6px;
    color: #777777;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 0 0 2px 0;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
    margin-top: 15px;
    margin-left: 40px;
}

nav {
    margin-right: 100px;
}
.topnav .icon{
    display: none;
}
ul {
    display: flex;
}

li {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
}
.top_container img{
    display: block;
    height: 100%;
    width: 100%;
}
main .main_about{
    display: flex;
    background: #fafafa;
    color: #777777;
}
.left{
    padding: 70px 0;
    margin-left: 50px;
    width: 530px;
    float: left;
}
.right{
    padding: 40px 0;
    width: 40%;
    text-align: left;
    float: right;
    margin-right: 230px;
}
.right h2{
    display: inline-block;
    padding-top: 40px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.skills{
    padding-top: 20px;
}
.right p{
    line-height: 2;
    padding-top: 45px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.right h3{
    color: #2f302f;
    font-size: 16px;
    margin: 20px 0;
}
.awesome_team{
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
    background: #fafafa;
}
.awesome_text{
    margin: 0 auto;
    width: 40%;
    line-height: 2;
    *padding: 0 300px;
}
.awesome_text p{
    margin-bottom: 70px;
}
.awesome_team h1{
    color: #000;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
}
.awesome_team p{
    color: #777777;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.spetialize_card{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 360px;
    background: #fff;
}
.bot_card{
    padding: 35px 20px;
    text-align: left;
}
.bot_card h2{
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: #041608;
}
.bot_card h3{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    color: #777777;
}
.bot_card p{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777777;
    line-height: 2;
}

































footer {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.flogo {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.social {
    padding: 25px 0;
    display: flex;
    justify-content: center;
}

.social img {
    margin-right: 50px;
}

.sign {
    padding: 40px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #9c9c9c;

}

.fline {
    border: none;
    background-color: #e1e1e1;
    height: 2px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.MT {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}