* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
}

#header-conteiner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#header-conteiner a {
    margin-right: 40px;
    padding: 27px 6px;
    color: #777777;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 0 0 2px 0;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
    margin-top: 15px;
    margin-left: 40px;
}

nav {
    margin-right: 100px;
}
.topnav .icon{
    display: none;
}
ul {
    display: flex;
}

li {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
}

.top-container {
    margin: 0 auto;
}

.line {
    border: none;
    background-color: #e1e1e1;
    height: 2px;
    width: 60%;
    display: flex;
    margin: 0 auto;
}

.portfolio {
    background: #fafafa;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.toggles button {
    border: none;
    color: #424146;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 5px;
    background: #fff;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.toggles button:hover {
    font-weight: 700;
}

.toggles button:after {
    content: ' / ';
}

.toggles button:last-child:after {
    content: '';
}

.posts {
    width: 70%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 20px 20px;
    padding-top: 30px;
}

.btn {
    margin-top: 40px;
    margin-bottom: 80px;
}

.btn a {
    background: #959595;
    font-size: 14px;
    color: #fff;
    padding: 10px 30px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

footer {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.flogo {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.social {
    padding: 25px 0;
    display: flex;
    justify-content: center;
}

.social img {
    margin-right: 50px;
}

.sign {
    padding: 40px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #9c9c9c;

}

.fline {
    border: none;
    background-color: #e1e1e1;
    height: 2px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.MT {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

























@media screen and (max-width: 1000px) {
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: #fff;
        font-size: 40px;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    .posts {
        display: grid;
        margin: 0 auto;
        grid-template-columns: auto auto;
        justify-content: center;
    }

}

@media screen and (max-width: 420px) {
    
}

@media screen and (max-width: 420px) {}
